<section id="content">
	<div class="content-nav">
		<span class="link">About Me</span>
		<span class="link">Services</span>
		<span class="link">Examples</span>
		<span class="link">Hire Me</span>
	</div>

	<div class="content-container">
		<div class="left"></div>

		<div class="content-Background">
			<div class="content-belt">
				<div class="content-unit" id="about-me">
					<h2>About Me</h1>
					<p>For some reason in my mind the title 'Web Developer' almost carries as much weight as 'Rock Star' or even 'Super Hero'. Since I was never good at whaling on the electric guitar and never learned to fly, I decided at a young age that I wanted to do something creative when I grew up. So Here I am, a Rock Star ... Erm, I mean, Web Developer.</p>
					<p>My Web Development Education is both formal and informal. I have a shiny nice piece of paper from college that says I know what i'm doing, but honestly, its the quality of work I do for my clients thats says the most. It's also the work I do for my clients that continues to teach me and help me hone my skills continually. I'm a big design junkie and would and would do this stuff for free if I could feed my family with my super powers ... But alas, I'm not a Super Hero.</p>
					<p>Let me welcome you to <a href="">wendellhernandez.com</a> , my little space on the web. I really wanted to keep it clean and simple. Please take a quick look around, view the gallery, read more specifically about the services I offer, and then be sure to hire me.</p>

					<p>
						I'm not kidding.
					</p>
				</div>

				<div class="content-unit" id="services">
					<h2>Services</h1>
					<p>Because Web Development is such a broad field, the question that needs to be answered here is 'what can I do?' and 'how can my services benefit you as a client?'</p>

					<p><span>Let's start with what I can do</span><br>
					* I am trained in all of the Adobe Creative Suite applications (Photoshop , Illustrator, and Flash. I use current version of this apps and do so in the Windows Environment, but am comfortable is Mac also.)<br>
					* I am fluent in the popular web languages (html , css , javascript , php and wordpress.)
					</p>

					<p><span>Ok, I got skills, but how will this benefit you?</span><br>
					If you ever worked with a Web Developer you know how important it is that he knows his craft. The work that I produce for my clients is polished and professional, and has always been met with acclaim. I take pride and care in all of my work. It shows in the products I deliver.

					I'm also nice, and a joy to be around. I know that has to count for something.
					</p>
				</div>

				<div class="content-unit" id="examples">
					<h2>Examples</h1>
					<p>Please take a moment to browse this gallery of selected works. There are four categories represented here, but my experience and skills are not limited to these alone, i love taking on unique and exciting commissions.</p>

					<p><i>Click the thumbnails to expand</i></p>

					<span>
						Web Development
					</span>

					<div class="examples-web">
						<div class="web-unit" id="1"></div>
						<div class="web-unit" id="2"></div>
						<div class="web-unit" id="3"></div>
					</div>

					<div class="web-modal">

						<!-- MODAL 01 --> <!-- MODAL 01 -->
						<!-- MODAL 01 --> <!-- MODAL 01 -->

						<div class="modal-unit">
							<img src="assets/img/examples/helix.png" class="modal-content">
							
							<div class="modal-footer">
								<div class="modal-info">
									<div class="title">A professional and clean logo for this investment group
									</div>

									<div class="page">
										Page 1 of 3	
									</div>
								</div>

								<div class="modal-close">
									CLOSE <span>X</span>
								</div>
							</div>
						</div>

						<!-- MODAL 02 --> <!-- MODAL 02 -->
						<!-- MODAL 02 --> <!-- MODAL 02 -->

						<div class="modal-unit">
							<img src="assets/img/examples/alpha.jpg" class="modal-content">
							
							<div class="modal-footer">
								<div class="modal-info">
									<div class="title">A professional and clean logo for this investment group
									</div>

									<div class="page">
										Page 2 of 3	
									</div>
								</div>

								<div class="modal-close">
									CLOSE <span>X</span>
								</div>
							</div>
						</div>

						<!-- MODAL 03 --> <!-- MODAL 03 -->
						<!-- MODAL 03 --> <!-- MODAL 03 -->

						<div class="modal-unit">
							<img src="assets/img/examples/stark.jpg" class="modal-content">
							
							<div class="modal-footer">
								<div class="modal-info">
									<div class="title">A professional and clean logo for this investment group
									</div>

									<div class="page">
										Page 3 of 3	
									</div>
								</div>

								<div class="modal-close">
									CLOSE <span>X</span>
								</div>
							</div>
						</div>

						<!-- end modal --> <!-- end modal -->
						<!-- end modal --> <!-- end modal -->

					</div>
				</div>

				<div class="content-unit" id="hireMe">
					<h2>Hire Me</h1>
					<p>For some reason</p>
					<p>My Design Education</p>
					<p>Let me welcome</p>
				</div>
			</div>
		</div>
		
		<div class="right"></div>
	</div>
</section>


























